@font-face {
    font-family: 'Dosis';
    src: url('../fonts/Dosis/Dosis-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* navigation */
.navbar {
    border-radius: 0px;
}

/* container that holds all */
.all-container {
    margin: 20px auto;
    background: pink;

    padding-right: 20px;
    padding-left: 20px;
}


/* the page title container box */
.title-box {
    text-align: center;
    /* border: 8px solid rgba(0, 0, 0, 0.7); */
    margin-bottom: 5%;
    /* border-style: outset; */
    /* border-radius: 8px;
    background-color: tomato; */
    /* box-shadow: 0px 1px 1px rgb(184, 184, 184); */
}

/* page title itself */
.title {
    font-size: 55px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 800;
    font-family: 'Dosis';
    background: pink;
}

/* page description */
.title-box .description {
    font-family: 'Roboto';

}

/* bootstrap class input */
/* .form-control {
    font-family: 'Roboto';
    text-align: center;
    padding: 20px;
    border-radius: 35px;
    box-shadow: 0px 1px 1px rgb(184, 184, 184);

} */

/* type title */
.type-title {
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    margin-bottom: 10px;

}

/* search text */
div.header .search-title {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 800;
    text-align: center;
    font-family: 'Dosis';
    display: none;
}

/* how many activities text */
.how-many-text {
    padding: 10px;
    text-align: center;
}

/* search activity button */
button {
    display: inherit;
    margin: 10px auto;
    width: 25%;
    height: 25%;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    border: none;
    font-family: 'Dosis';
    font-weight: 700;
    box-shadow: 0px 1px 1px rgb(184, 184, 184);

}

/* search result text */
#list-of-activities-box .header .title {
    text-align: center;
    font-size: 20px;
}


/* activities box */
.activities-box {
    height: 250px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: whitesmoke;
    box-shadow: 0px 1px 1px rgb(184, 184, 184);
    display: none;

}

/* ul container */
.list-of-activities {
    padding: 8px;
    width: 100%;
    height: 100%;;
}

/* list of activities */
.list-of-activities li {
    background: peachpuff;
    padding: 8px 8px;
    border-radius: 8px;
    list-style: none;
    margin: 8px auto;
    box-shadow: 0px 1px 1px rgb(184, 184, 184);

}

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}